/* Body styles */
/*
    Body layout is a 4-column grid. Columns are 250, spacing 50.
    Two cols is 550. Three cols is 850. Four is 1150.
*/

body {
    font-size: 16px;
    min-height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
}

/* General page layout */

p {
    line-height: 160%;
    margin-bottom: 1.5em;
}

strong,
b {
    font-weight: bold;
}

em {
    font-style: italic;
}

a {
    text-decoration: none;
    color: #3F6492;
}
    a:hover {
        text-decoration: underline;
    }

/* Header */

header {
    background: #23457B;
    color: white;
    overflow: hidden;
}
    header h1 {
        float: left;
        margin: 10px 20px;
        color: #fff;
        font-size: 18px;
    }
    header .stats li {
        float: right;
        margin: 10px 20px 10px 0;
    }

/* Content */

.content {
    margin: 10px 20px;
}


h2 {
    font-size: 220%;
    font-family: alte_din;
    color: #0e232e;
    margin: 20px 0 12px 0;
}


/* Device list */

.devices {
    margin-left: -15px;
}
.devices .device {
    margin: 10px 0 0 15px;
    display: inline-block;
    width: 230px;
    vertical-align: top;
}
    .device h3 {
        font-size: 120%;
        margin: 0 0 5px 0;
        color: #333;
        padding: 5px 0;
        border-bottom: 2px solid #23457B;
        white-space: nowrap;
        overflow: hidden;
    }
        .device h3 i {
            margin-right: 8px;
        }
    .device h4 {
        font-size: 90%;
        margin: 0 0 5px 0;
        color: #9C9C9C;
    }
    .device .info {
        font-size: 90%;
        margin: 0 0 5px 0;
        color: #333;
    }
    .device .signal {
        margin-bottom: 7px;
    }
    .device .speed i:nth-child(2) {
        margin-left: 10px;
    }
    .progress {
        width: 150px;
        height: 16px;
        border: 1px solid #ccc;
        position: relative;
        display: inline-block;
        vertical-align: bottom;
    }
        .progress .bar {
            position: absolute;
            height: 100%;
            background: #485E98;
        }
        .progress span {
            position: absolute;
            display: block;
            top: 2px;
            left: 4px;
            width: 100%;
            height: 100%;
            text-align: left;
            z-index: 2;
            color: white;
            text-shadow: 0 0 2px #444;
            font-size: 12px;
        }
