<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="alternate" type="application/atom+xml"  href="http://www.website.com/feed/" title="Depth Buffer Atom Feed">
        <link rel="alternate" type="application/rss+xml"  href="http://www.website.com/feed/rss2/" title="Depth Buffer RSS Feed">
        <link rel="stylesheet" href="/static/css/reset.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/static/fonts/alte_din/stylesheet.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/static/fonts/font_awesome/stylesheet.css" type="text/css" media="screen" />
        <script src="/static/js/jquery-1.10.2.min.js"></script>
        <script>
            var runUpdates = true;
            var triggerUpdate = function () {
                if (runUpdates) {
                    updateSpeeds();
                    updateDevices();
                }
                setTimeout(triggerUpdate, 2000);
            }
            var updateSpeeds = function () {
                $.getJSON("/ajax/speeds/", function (data) {
                    $(".rx-speed").text(data[2]);
                    $(".tx-speed").text(data[3]);
                });
            }
            var updateDevices = function () {
                $.getJSON("/ajax/devices/", function (data) {
                    $(".devices").html("");
                    for (var i = 0; i < data.length; i++) {
                        var device = data[i];
                        var html = "<div class='device'><h3>";
                        if (device.wireless) {
                            html += "<i class='fa fa-signal'></i>";
                        } else {
                            html += "<i class='fa fa-exchange'></i>";
                        }
                        if (device.name) {
                            html += "" + device.name + "</h3><h4>" + device.mac + "</h4>";
                        } else {
                            html += "" + device.mac + "</h3><h4>" + device.manufacturer + "</h4>";
                        }
                        if (device.ip) {
                            html += "<div class='info ip'>IP: " + device.ip + "</div>";
                        }
                        if (device.rx_speed_human != undefined) {
                            html += "<div class='info speed'><i class='fa fa-chevron-circle-up'></i> " + device.rx_speed_human + " <i class='fa fa-chevron-circle-down'></i> " + device.tx_speed_human + "</div>";
                        }
                        if (device.wireless) {
                            normalised_signal = Math.max(0, Math.min(70, (90 + device.wireless.signal))) / 70.0
                            html += "<div class='info signal'>Signal: <div class='progress'><div class='bar' style='width: " + (normalised_signal * 100) + "%'></div><span>" + device.wireless.tx_bitrate_human + "</span></div></div>";
                        }
                        html += "</div>";
                        $(".devices").append(html);
                    }
                });
            }
            $(triggerUpdate);
        </script>
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <header>
            <h1>{% block header_title %}Menu{% endblock %}</h1>
            <ul class="stats">
                <li><i class="fa fa-chevron-circle-down"></i> <span class="rx-speed">...</span></li>
                <li><i class="fa fa-chevron-circle-up"></i> <span class="tx-speed">...</span></li>
            </ul>
        </header>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
